<section class="section section--page page">
	<div class="container container--tiny">
		<div class="section__title section__title--center">
           
        </div>

        <div class="page__content rte">
            
      		{{ page.content }}
    	</div>
	</div>
</section>